<!-- header -->
<header class="nav">
  <div class="container nav-d-flex">
    <div class="logo-img">
      <a href="3"><img src="/assets/images/logo-white.png" alt="logo" /></a>
    </div>
    <ul class="nav-list">
      <li><a href="/pages/index.html">系列鏡框</a></li>
      <li><a href="#">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="/pages/QA.html">常見問題</a></li>
    </ul>
  </div>
</header>
