/*title*/
.title-h1 {
  margin-top: 90px;
  margin-bottom: 32px;
}
.title-1 {
  font-size: 3rem;
  font-weight: 600;
  border-left: 10px solid #aa0601;
  padding-left: 16px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

.tiitle-h2 {
  font-size: 24px;
  font-weight: 600;
}

/*QA*/
h3 {
  font-size: 20px;
  font-weight: 600;
}

.answer {
  max-width: 856px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-10 {
  margin-bottom: 80px;
}
